	[flake8]

	# Configuration compatible with Bessa Research Group Python Coding Style
	#
	# Version: March 28, 2023

	# >>> UPDATE ACCORDING WITH YOUR PYTHON PROJECT

	# Exclude (additional) glob patterns from checks:
	extend-exclude = __pycache__,
			.git, dev_code, data, docs

	# <<< UPDATE ACCORDING WITH YOUR PYTHON PROJECT

	# Print the total number of errors
	count = True
	# Set the maximum length that any line may be
	max-line-length = 79
	# Set the maximum length that a comment or docstring line may be
	max-doc-length = 79
	# Set the number of spaces used for indentation
	indent-size = 4
	# Print the source code generating the error/warning in question
	show-source = True
	# Set the maximum allowed McCabe complexity for a block of code
	max-complexity = 15

	# List of (additional) codes to ignore:
	# E3:   Blank lines
	#       Remark: Use the appropriate delimiters if not following PEP8!
	# E226: Missing whitespace around arithmetic operator
	#       Remark: Flake8 does not distinguish +, - from *, /, ** cases yet.
	# E731: Lambda expression
	# C901: McCabe complexity for a block of code
	#       Remark: You may use this to check your code complexity though!

	extend-ignore = E226, E731, F841, F401, F403, E502, C901


	# List of (additional) error codes to check:
	# E241 : Multiple spaces after ‘,’
	# E242 : Tab after ‘,’
	# E704 : Multiple statements on one line (def)
	# W504 : Line break after binary operator
	# W505 : Doc line too long (82 > 79 characters)
	extend-select = E241, E242, E704, W504, W505

	# Ignore all errors F401 ('imported but unused') and E402 ('module level import
	# not at top of file') in __init__.py files
	per-file-ignores = __init__.py: F401, E402
