.vscode/launch.json
*.pyc

# Generates test results
# tests/benchmarking_tests/hyperelasticity/jax_fem/sol.vtu
# tests/linear_elasticity_cube/jax_fem/sol.vtu
# tests/linear_elasticity_cylinder/jax_fem/sol.vtu
# tests/linear_poisson/jax_fem/sol.vtu
# tests/plasticity/jax_fem/avg_stresses.npy
# tests/plasticity/jax_fem/sol.vtu

dev_code/
*reference/
*.DS_Store
*data/
*output/
*defcon/
*debug/
tests/benchmarks/*/jax_fem/*
applications/aesthetic/input/models
